<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @plot.number %>
</p>

<p>
  <b>Name:</b>
  <%= @plot.name %>
</p>

<p>
  <b>Location:</b>
  <%= @plot.location %>
</p>

<p>
  <b>Email:</b>
  <%= @plot.email %>
</p>


<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
